/*Exemplo flex e flex direction*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .container {
    display: flex;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .row {
    flex-direction: row-reverse; /* Itens são dispostos da esquerda para a direita */
  }
  
  .item {
    background-color: #3498db;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    margin: 5px;
    text-align: center;
    width: 100px;
    height: 100px;
  }
  