/* Exemplo align items */
.container {
    display: flex;
    height: 300px;
    border: 1px solid #333;
    margin-bottom: 20px;
}

.box {
    flex: 1;
    margin: 10px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.large {
    flex-grow: 2; /* Maior crescimento */
    font-size: 20px;
}

.small {
    flex-grow: 0.5; /* Menor crescimento */
}

/* Estilos exclusivos para cada opção de align-items */
.stretch {
    align-items: stretch;
}

.flex-start {
    align-items: flex-start;
}

.flex-end {
    align-items: flex-end;
}

.center {
    align-items: center;
}

.baseline {
    align-items: baseline;
}
